@charset "UTF-8";

body{
 font-family:Helvetica;
 margin:0;
 padding:10px;
 background-image: -webkit-linear-gradient(top,white,blue);
}
header h1{
	background-color:blue;
	color: #ffffff;
	text-align:center;
	
}

div#menu {
        	width: 75%;
      		background-color: blue;
      		position:absolute;
      		bottom: 0;
      		left: 30%;
      		display:none;
	       }
